
body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #1a1a1a;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("Bilder/flowers.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #d1bdf8;
}

h1 {
  text-decoration: underline;
  margin-top: 40px;
  font-size: 3rem;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px;
}

table.interessen {
  border-collapse: separate;
  border-spacing: 20px;
  transform: scale(1.2);
}

table.interessen th, table.interessen td {
  background: #a894d1;
  border: 3px solid black;
  border-radius: 18px;
  width: 150px;
  height: 10px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.25);
  padding: 10px;
  font-size: 1.2rem;
}

table.interessen th1 {
  background: #a894d1;
  border: 3px solid black;
  width: 150px;
  height: 10px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.25);
  padding: 10px;
  font-size: 1.2rem;
}

table.interessen th {
  background: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
}

.label {
  font-weight: bold;
  background: #c8b3e8 !important;
  width: 200px !important;
}

button {
  background-color: transparent;
  border: 3px solid #b94fc2;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 1rem;

  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #b94fc2;
  color: white;
}
