
body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #1a1a1a;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("Bilder/flowers.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #d1bdf8;
}

h1 {
  text-decoration: underline;
  margin-top: 40px;
  font-size: 3rem;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px;
}

table.interessen {
  border-collapse: separate;
  border-spacing: 20px;
  transform: scale(1.2);
}

table.interessen td {
  background: #a894d1;
  border: 3px solid black;
  border-radius: 18px;
  width: 150px;
  height: 10px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.25);
  padding: 10px;
  font-size: 1.2rem;
}

table.interessen th {
    overflow: visible; 
}

table.interessen th img {
    border-radius: 0; 
    width: 100%;   
    display: block;
}

.label {
  font-weight: bold;
  background: #c8b3e8 !important;
  width: 200px !important;
}

button {
  background-color: transparent;
  border: 3px solid #b94fc2;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #b94fc2;
  color: white;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}  

a { color: rgb(125, 28, 255); }
a:hover { color: rgb(125, 139, 255); }
a:visited { color: rgb(88, 39, 144); }
a:active { color: rgb(125, 28, 255); }


table.interessen th video {
    width: 100%;      
    height: 90%;    
    object-fit: fill;
    display: block;
    border: 3px solid black;
}
