body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #1a1a1a;
  text-align: center;
  margin: 0;
  padding: 0; 
  background-image: url("Bilder/flowers.png");
  background-size: cover;   
  background-position: center;
  background-attachment: fixed;  
  background-repeat: no-repeat;  
  background-color: #d1bdf8
}

h1 {
  text-decoration: underline;
  margin-top: 30px;
  font-size: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
  padding: 70px;
}

.card {
  background-color: #a894d1;
  border: 3px solid black;
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.03);
}

.card-image {
  background-color: white;
  border: 3px solid black;
  width: 200px;
  height: 150px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: 3px solid #b94fc2;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 1rem;

  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #b94fc2;
  color: white;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
